.cm-editor {
  width: 100%;
  height: 100%;
}

.cm-hover-doc-tt {
  font-family: monospace;
}

.cm-hover-doc {
  max-width: min(600px, 50vw);
}

.cm-hover-doc ol {
  margin: 0;
}

.is-height-100 {
  height: 100%;
}

.is-opacity-50 {
  opacity: 50%;
}

:root {
  --bulma-body-overflow-y: auto !important;
}

body {
  scrollbar-color: var(--bulma-text-soft) var(--bulma-background);
}

.covers-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  cursor: col-resize;
}

.box.output-tooltip {
  position: absolute;
  bottom: 100%;
  width: 200px;
  --bulma-box-padding: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  --bulma-block-spacing: 0.5rem;
  --bulma-shadow: 0 0 .7em 0 hsla(var(--bulma-shadow-h), var(--bulma-shadow-s), var(--bulma-shadow-l), .1);
}

.faint-text {
  color: color-mix(in oklab, var(--bulma-text-soft) 75%, var(--bulma-text) 25%);
}
